@import "./css/color-typography.css";

/* MEDIA QUERIES SET */

@custom-media --small-viewport (max-width: 768px);
@custom-media --xs-small-viewport (max-width: 600px);
@custom-media --medium-viewport (max-width: 1024px);
@custom-media --large-viewport (max-width: 1300px);

/* END MEDIA QUERIES SET */

/* CUSTOM RESETS */

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}

/* END CUSTOM RESETS */

/* EXTERNAL COMPONENTS STYLING */

/* END EXTERNAL COMPONENTS STYLING */

/* GENERIC ANIMATIONS */

.generic-slideup {
  animation: generic-slideup 0.2s;
}

@keyframes generic-slideup {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* END GENERIC ANIMATIONS */

/* LAYOUT */

.inner-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}

@media (--small-viewport) {
  .inner-container {
    max-width: 100%;
    padding-left: 24px;
    padding-left: 24px;
  }
}

@media (--large-viewport) {
  .inner-container {
    padding: 0 24px;
  }
}

/* END LAYOUT */
